{{template "partials/header.html" .}}

<article role="article">
  <h1 class="f1 ma0">{{.Title}}</h1>
  <time class="f5 gray" datetime="{{.Date.Format "2 Jan 2006"}}">{{.Date.Format "2 Jan 2006"}}</time>
  <section class="content pv5">
    {{.Content}}
  </section>
</article>

<nav class="post-nav" role="navigation">
  <div class="post-nav-container flex">
    <div class="flex-1 relative">
      {{if .Prev}}
        <a class="flex flex-column" href="{{.Prev.RelPermalink}}" rel="prev">
          <object class="post-nav-icon-left">
            <embed src="/images/icons/arrow-left.svg" />
          </object>
          <p class="post-nav-label mb0 f6 b gray">Previous</p>
          <h3 class="f3">{{.Prev.Title}}</h3>
        </a>
      {{end}}
    </div>
    {{if .Next}}
      <div class="flex-1 relative tr">
        <a class="flex flex-column" href="{{.Next.RelPermalink}}" rel="next">
          <object class="post-nav-icon-right">
            <embed src="/images/icons/arrow-right.svg" />
          </object>
          <p class="post-nav-label mb0 f6 b gray">Next</p>
          <h3 class="f3">{{.Next.Title}}</h3>
        </a>
      </div>
    {{end}}
  </div>
</nav>

{{template "partials/footer.html" .}}
