<div id="disqus_thread"></div>
<script type="text/javascript">
(function() {
  // Avoid creating discussions for localhost:1313 in Discus account
  if (window.location.hostname == 'localhost') return;

  var dsq = document.createElement('script');
  dsq.type = 'text/javascript';
  dsq.async = true;
  dsq.src = '//{{ .Site.Params.disqus }}.disqus.com/embed.js';
  document.getElementsByTagName('head')[0].appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the comments powered by <a href="http://disqus.com/?ref_noscript">Disqus.</a></noscript>
