<div class="header container">
  <div class="header__hero">
    <h1><a href="/">Hi, I'm Frederic.</a></h1>
    <h2>
      Web Developer & Entrepreneur<br>blogging about SaaS and personal improvement.
    </h2>
    <div class="header__hero__profiles">
      <a href="https://github.com/kiasaki">Github</a> &mdash;
      <a href="https://twitter.com/FredericGingras">Twitter</a> &mdash;
      <a href="mailto:frederic@gingras.cc">Email</a> &mdash;
      <a href="https://keybase.io/kiasaki">Keybase</a>
    </div>
  </div>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Archives</a></li>
      <li><a href="/pages/about/">About me</a></li>
      <li><a href="/pages/library/">Library</a></li>
      <li><a href="/pages/backpack/">Backpack</a></li>
    </ul>
  </nav>
</div>
