{{template "partials/header.html" .}}

<div class="hero">
  {{.Site.Params.hero}}
</div>

{{ range .Paginator.Pages }}
  <article class="mb6" role="article">
    <h2 class="ma0 mb2"><a href="{{.Permalink}}">{{.Title}}</a></h2>
    <a class="db f5 gray hover-gray" href="{{.Permalink}}">{{.Summary}}</a>
    <time class="f6 gray" datetime="{{.Date.Format "2 Jan 2006"}}">{{.Date.Format "2 Jan 2006"}}</time>
  </article>
{{end}}

{{template "partials/pagination.html" .}}

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", function(user) {
      if (!user) {
        window.netlifyIdentity.on("login", function() {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{{template "partials/footer.html" .}}
